//logo
.logo {
  max-width: 60px;
  width: 100%;

  @include media-mobile {
    max-width: 50px;
  }
}

.menu {
  li {
    @extend %font-style-header-menu;
    transition: all 0.3s;

    &:hover {
      color: $color-hover-second;
    }
  }
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;

  &.header-background {
    background-color: $background-color;
  }

  &.header-background-white {
    background-color: $color-white;
  }

  &.header-white {
    .header__inner {
      color: $color-text-dark;

      @include media-laptop {
        color: $color-white;
      }
    }

    .menu-burger-icon-open {
      border-bottom: solid 1px $color-text-dark;
      border-top: solid 1px $color-text-dark;

      &__item {
        border-top: solid 1px $color-text-dark;
      }
    }
  }

  .icon-order-basket {
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 32px;
    color: $color-text-dark;

    @include media-mobile {
      width: 50px;
      height: 50px;
    }

    &:hover {
      background-color: $background-color-light;
      color: $color-white;
    }

    @include media-laptop {
      margin-left: auto;
    }

    .icon-order-basket-number {
      border-radius: 50%;
      background-color: $background-color;
      padding: 2px;
      @extend  %font-regular;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      height: 24px;
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__inner {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;

    @include media-mobile {
      padding: 25px 0;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-laptop {
      flex-direction: column;
    }

    @include media-mobile-horizontal-small {
      display: block;
      columns: 2;
    }

    li {
      margin: 0 24px;

      @include media-laptop {
        margin: 0 0 40px;
      }

      @include media-mobile-horizontal {
        margin: 0 0 20px;
      }
    }
  }

  &__menu {
    .icon-close-menu {
      display: none;

      @include media-laptop {
        display: block;
        top: 15px;
        right: 10px;
      }
    }

    &.open-menu-mobile {
      @include media-laptop {
        transform: translateX(0);
      }
    }

    @include media-laptop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: all 1s;
      z-index: 100;
    }
  }
}

// icon menu mobile
.menu-burger-icon-open {
  width: 30px;
  height: 25px;
  border-bottom: solid 1px $color-white;
  border-top: solid 1px $color-white;
  display: none;
  align-items: center;
  margin-left: 30px;

  @include media-laptop {
    display: flex;
  }

  &__item {
    border-top: solid 1px $color-white;
    display: block;
    width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}