.hero {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-color: $background-color-light;
    width: 1010px;
    height: 1010px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -425px;
    z-index: -1;

    @include media-mobile {
      width: 500px;
      height: 500px;
      top: -50px;
      right: -300px;
    }
  }

  &__inner {
    padding: 70px 0 100px;
    color: $color-white;
    font-size: 20px;
    line-height: 1.7;
    display: flex;
    justify-content: space-between;

    @include media-tablet {
      flex-direction: column;
    }

    @include media-mobile {
      padding: 50px 0 50px;
    }
  }

  &__description {
    max-width: 49%;
    width: 100%;
    padding: 15px 15px 0 0;

    @include media-tablet {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  &__image {
    max-width: 56%;

    @include media-tablet {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__image-inner {
    max-width: 567px;
    width: 100%;
    max-height: 554px;
  }

  .button-light-color {
    margin-left: 20px;
  }

  .button-regular {
    @include media-mobile {
      margin:0 0 30px;
    }
  }
}

.we-work {
  &__inner {
    padding: 105px 0;
    color: $color-white;
    @extend %font-regular;

    @include media-tablet-large {
      padding: 70px 0;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    max-width: 310px;
    width: 100%;

    @include media-tablet-large {
      max-width: 31%;
    }

    @include media-mobile {
      max-width: 100%;
      margin-bottom: 30px;
    }

    .item-title {
      margin-bottom: 24px;
    }
  }

  &__item-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 35px;
  }
}

.new-recipe {
  &__inner {
    padding: 280px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    @extend %font-regular;

    @include media-tablet-large {
      padding: 70px 0;
    }

    @include media-mobile {
      flex-direction: column-reverse;
    }

    .regular-title {
      margin-bottom: 50px;
    }
  }

  &__image {
    max-width: 50%;
    width: 100%;

    @include media-tablet-large {
      max-width: 40%;
    }

    @include media-mobile {
      max-width: 100%;
    }
  }

  &__image-inner {
    max-width: 550px;
    max-height: 565px;
  }

  &__description {
    max-width: 49%;
    width: 100%;

    @include media-tablet-large {
      max-width: 58%;
      margin-bottom: 30px;
    }

    @include media-mobile {
      max-width: 100%;
    }
  }
}

.numbers {

  &__inner {
    padding: 35px 0 100px;
    color: $color-white;
    max-width: 830px;
    width: 100%;
    margin: auto;

    @include media-tablet-large {
      padding: 35px 0 70px;
    }
  }

  &__item {
    border-top: solid 1px $color-white;
    padding: 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: solid 1px $color-white;
    }
  }

  &__item-left {
    max-width: 400px;
  }

  &__item-text {
    @extend %font-title-small;

    @include media-mobile {
      display: block;
      font-size: 20px;
      padding-right: 20px;
    }
  }

  &__item-number {
    @extend %font-title-number;
    display: block;
    text-align: right;

    @include media-mobile {
      font-size: 50px;
    }
  }

  &__item-number-name {
    @extend %font-title-number-name;
    display: block;

    @include media-mobile {
      font-size: 16px;
    }
  }
}

.products {
  &__inner {
    color: $color-white;
    text-align: center;
    padding: 300px 0 200px;

    @include media-tablet {
      padding: 100px 0 100px;
    }

    .button-group {
      justify-content: center;
      padding: 25px 0 80px;

      .button-regular {
        max-width: 205px;
        min-height: 55px;
      }
    }

    .regular-title {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 600px;
    margin: auto;
    padding-bottom: 18px;

    &.text-small {
      max-width: 510px;
    }
  }
}

.reviews {
  background-color: $color-white;

  &__inner {
    padding: 55px 0 105px;

    @include  media-mobile {
      padding: 50px 0;
    }

    .regular-title {
      margin-bottom: 70px;
      text-align: center;

      @include media-mobile {
        margin-bottom: 50px;
      }
    }
  }

  &__slider {
    width: 100vw;
  }

   .reviews-item {
     max-width: 700px;
     opacity: 0.4;

     @include media-mobile {
       max-width: 65vw;
     }

     &__inner {
       width: 100%;
       padding: 64px 64px 55px;
       -webkit-box-shadow: 0px 36px 50px 0px rgba(219,222,225,1);
       -moz-box-shadow: 0px 36px 50px 0px rgba(219,222,225,1);
       box-shadow: 0px 36px 50px 0px rgba(219,222,225,1);
       @extend %font-regular;

       @include media-mobile {
         padding: 30px;
       }
     }

     &__text {
       margin-bottom: 60px;

       @include media-mobile {
         margin-bottom: 20px;
         font-size: 12px;
       }
     }

     &__user {
       display: flex;
       align-items: center;
     }

     &__user-image {
       width: 46px;
       height: 46px;
       margin-right: 16px;

       @include media-mobile {
         width: 35px;
         height: 35px;
       }
     }

     &__user-name {
       display: block;
       @extend %media-title;
     }

     &.swiper-slide-active {
       opacity: 1;
     }
   }
}

.media-about-us {
  background-color: $color-white;

  &__inner {
    padding: 100px 0;

    @include  media-mobile {
      padding: 50px 0;
    }

    .regular-title {
      text-align: center;
      margin-bottom: 70px;
    }
  }

  .media-item {

    &__image {
      max-height: 260px;
      width: 100%;
      margin-bottom: 28px;
    }

    &__title {
      @extend %media-title;
      margin-bottom: 18px;
    }

    &__text {
      @extend %media-text;
    }
  }
}

.faq {
  background-color: $color-white;

  &__inner {
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 70px;
    text-align: center;
  }
}

.ribbons {
  background-color: $color-white;
  padding: 110px 0;
  @extend %font-ribbon;

  @include media-mobile {
    padding: 40px 0;
  }

  &__inner {
    @include media-mobile {
      transform: scale(0.4);
    }
  }

  .ribbon {
    min-width: 5000px;
    color: $color-blue;
    background-color: $color-yellow;
    padding: 25px 0;
    transform-origin: top left;
    position: relative;
    left: 50%;

    @include media-laptop {
      padding: 20px 0;
    }

    &.ribbon-top {
      transform: rotate(8deg) translate(calc(-115px - 50%), 100px);
      z-index: 1;
    }

    &.ribbon-bottom {
      transform: rotate(-4deg) translate(calc(-77px - 50%), -50px);
      color: $color-yellow;
      background-color: $color-blue;
    }
    span {
      display: inline-block;
      padding: 0 50px;

      @include media-laptop {
        padding: 0 30px;
      }
    }
  }
}

.prayer-for-soldiers {
  background-color: $color-white;

  &__inner {
    padding: 105px 0 200px;
    text-align: center;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__image {
    padding: 50px;
    background-color: $background-color-image;
    margin-bottom: 95px;
  }

  &__image-inner {
    max-width: 355px;
    width: 100%;
    margin: auto;
  }

  .item-title {
    margin-bottom: 70px;
  }

  .button-group {
    justify-content: center;
    gap: 18px;

    .button-regular {
      border-color: $color-text-dark;

      &:hover {
        border-color: $background-color-light;
        color: $color-white;
      }
    }

    .button-color {
      border-color: $background-color;
    }
  }
}




