.our-details {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  @extend %font-regular;

  &.open-our-details {
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  &__inner {
    max-width: 880px;
    width: 100%;
    background-color: $color-white;
    padding: 72px;
    position: relative;

    @include media-tablet {
      padding: 30px;
      margin: 50px;
    }

    @include media-mobile {
      padding: 50px 30px 30px;
      margin: 20px;
    }
  }

  .regular-title {
    @extend %font-mini;
    margin-bottom: 32px;

    @include media-tablet {
      font-size: 30px;
    }
  }

  &__items {
    padding: 65px 0 20px;

    @include media-tablet {
      padding: 20px 0;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 32px;

    @include media-tablet {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__item-name {
    max-width: 150px;
    width: 100%;
    margin-right: 25px;
    opacity: 0.6;
    @extend %media-title;
  }

  &__item-text {
    @extend %media-title;
    line-height: 1.7;
    font-weight: 400;
  }
}

.icon-cross {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 25px;
  @extend %font-icon;
}