// mixin for media width
$mediaWidthMobileSmall: 350px;
$mediaWidthMobile: 767px;
$mediaWidthTablet: 991px;
$mediaWidthTabletLarge: 1024px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1024px;

@mixin media-tablet {
  @media (max-width: $mediaWidthTablet) {
    @content;
  }
}

@mixin media-tablet-horizontal {
  @media (max-height: $mediaWidthTabletHorizontal) {
    @content;
  }
}

@mixin media-tablet-large {
  @media (max-width: $mediaWidthTabletLarge) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $mediaWidthLaptop) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: $mediaWidthMobileSmall) {
    @content;
  }
}

//font
%font-style-header-menu {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}

%font-main-title {
  font-size: 74px;
  line-height: 1.21;
  font-family: 'NAMU';
  font-weight: 500;
}

%font-title-small {
  font-size: 30px;
  line-height: 1.33;
  font-family: 'NAMU';
  font-weight: 500;
}

%font-item-title {
  font-size: 20px;
  line-height: 1.4;
}

%font-regular {
  font-size: 16px;
  line-height: 1.62;

  @include media-mobile {
    font-size: 14px;
  }
}

%font-regular-title {
  font-size: 64px;
  line-height: 1.25;
  font-family: 'NAMU';
  font-weight: 500;

  @include media-mobile {
    font-size: 36px;
  }
}

%font-title-number {
  font-size: 74px;
  line-height: 1.21;
}

%font-title-number-name {
  font-size: 20px;
  line-height: 1.4;
}

%font-portion {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  @include media-mobile {
    font-size: 16px;
  }
}

%font-product-name {
  font-family: 'NAMU';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33;

  @include media-mobile {
    font-size: 18px;
  }

  @include media-mobile-small {
    font-size: 16px;
  }
}

%font-product-text {
  font-size: 16px;
  line-height: 1.62;

  @include media-mobile {
    font-size: 12px;
  }

  @include media-mobile-small {
    font-size: 10px;
  }
}

%font-price {
  font-family: 'NAMU';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33;

  @include media-mobile {
    font-size: 16px;
  }
}

%user-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  @include media-mobile {
    font-size: 14px;
  }
}

%media-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  @include media-mobile {
    font-size: 14px;
  }
}

%media-text {
  font-size: 14px;
  line-height: 1.57;

  @include media-mobile {
    font-size: 12px;
  }
}

//color
$color-white: #fff;
$background-color-icon-regular: #fff;
$background-color-icon-second: #EFF1F4;
$background-color-icon-second-opacity:rgba(239, 241, 244, 0.4);
$background-color: #DC384E;
$background-color-light: #F25570;
$color-text-dark: #333333;
$color-text-card-mark: #FFE180;
$color-hover: #F25570;
$color-hover-second: #F3CD46;
$color-background-product: #F25570;

//size
$size-product-block: 385px;
$size-product-block-tablet: 280px;
$size-product-block-mobile: 38vw;
$size-product-block-big: 445px;
$size-product-block-big-tablet: 330px;
$size-product-block-big-mobile: 43vw;
